
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.card {
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(203, 203, 203, 0.1);
}
.form-control::placeholder{
    color: #8f8e8e;
}

.form-label, .form-control, .btn {
    color: #e0e0e0; /* Light text color */
}
.form-control {
    background-color: #333; /* Dark background for input fields */
    border-color: #444; /* Dark border for input fields */
}
.btn-primary {
    background-color: #007bff; /* Bootstrap primary color */
    border-color: #007bff; /* Matching border color */
}
.btn-primary:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
    border-color: #004085; /* Darker border color for hover */
}
