a {
    margin-left: 10px;
    text-decoration: none;
    cursor: pointer;
}

.collapse {
    font-size: 12px;
}

.view {
    color: rgb(0, 132, 255);
}

.edit {
    color: #ffb300;
}

.delete {
    color: rgb(198, 24, 24);
}

.completed {
    color: green;
}

.in-progress {
    color: #ffb300;
}

.pending {
    color: rgb(0, 255, 221);
}

.onhold {
    color: rgb(255, 68, 0);
}

.new {
    color: rgb(19, 173, 255);
}

th {
    font-size: 16px;
}

.btn .bi-chevron-down {
    transition: transform 0.2s ease-in-out;
}

.btn.collapsed .bi-chevron-down {
    transform: rotate(0deg);
}

.btn:not(.collapsed) .bi-chevron-down {
    transform: rotate(180deg);
}

p,
label {
    color: rgb(0, 0, 0);
}

.truncated {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
}

.action-link {
    display: flex;
    gap: 10px;
}

.fixed-width {
    width: 200px;
}

/* Make table header sticky and full width */
.table-responsive thead tr th {
    position: sticky;
    top: 0;
    border-bottom: 2px solid #dbd7d7
}

/* Optional: Add border to header cells */
th tr {
    z-index: 1;

}

tr {
    font-size: 12px;
}

.list-unstyled {
    font-size: 12px;
}

.table-responsive {
    max-height: 30rem;
    overflow-y: auto;
}

/* Custom scrollbar for WebKit browsers */
.table-responsive::-webkit-scrollbar {
    width: 5px;
    /* Width of the scrollbar */
}

.table-responsive::-webkit-scrollbar-track {
    background: transparent;
    /* Background of the scrollbar track */
}

.table-responsive::-webkit-scrollbar-thumb {
    background: #888;
    /* Color of the scrollbar thumb */
    border-radius: 6px;
    /* Rounded corners of the scrollbar thumb */
}

.table-responsive::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Color of the scrollbar thumb on hover */
}

.noItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noItem i {
    font-size: 35px;
    color: #000000;
}

.loader {
    padding: 10rem 0;
    ;
    display: flex;
    align-items: center;
    justify-content: center;

}

.isloader {
    justify-content: center;
    padding: 12rem 0;
    display: flex;
    font-size: 12px;
}